<div class="form-grand-parent">
  <div class="form-parent">
    <div class="devise-form">
      <div class="form-header">
        <h2>
          Email Verification
        </h2>
      </div>
      <div class="form-content">
        <p>To verify your email address and check you are human, please click the link in the email we just sent you</p>
        <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
      </div>
    </div>
  </div>
</div>
