<div class="form-grand-parent">
  <div class="form-parent">
    <div class="devise-form">
      <div class="form-header">
        <h2>Forgot your password?</h2>
      </div>
      <div class="form-content">
        <p>Please enter your email address and click submit to be sent instructions on resetting your password</p>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%#= render "devise/shared/error_messages", resource: resource %>

          <div class="field" tabindex='1'>
            <i class="fa fa-user"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
          </div>

          <div class="actions">
            <%= f.submit "Submit", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
