body, html {
  height: 100%;
  background: #e0e0e063;
}

a:hover {
    color: #409c73;
    /* text-decoration: underline; */
    /* background: orange; */
    padding: 3px;
    transition: all 0.5s 0s ease-in;
}

a {
    text-decoration: none;
    color: #0f5d0f;
    transition: all 0.5s 0s ease-in;
}

.notice {
  position: absolute;
  color: #0735088c;
  bottom: 12px;
  right: 12px;
  background: #a4d28e;
  border: 4px solid #7ab19663;
  padding: 6px;
  border-radius: 8px;
}

.alert {
  position: absolute;
  bottom: 0px;
  right: 16px
}

/* NavBar Styles */

.navbar {
  position: absolute;
  z-index: 10;
  display: flex;
  width: 100%;
  top: -16px;
  align-items: baseline;
  justify-content: space-between;
  animation: fadein 3s 0s 2s linear;
  background: rgb(25,36,0);
  background: -webkit-linear-gradient(308deg, rgba(25,36,0,1) 0%, rgba(75,99,71,1) 16%, rgba(9,121,47,1) 52%, rgba(55,173,121,1) 100%);
  background: -o-linear-gradient(308deg, rgba(25,36,0,1) 0%, rgba(75,99,71,1) 16%, rgba(9,121,47,1) 52%, rgba(55,173,121,1) 100%);
  background: linear-gradient(38deg, rgba(25,36,0,1) 0%, rgba(75,99,71,1) 16%, rgba(9,121,47,1) 52%, rgba(55,173,121,1) 100%);
}

.navbar .logo, .nav {
  color: #d8d8d8;
  padding-top: 20px;
  margin: 0;
}

.logo {
  padding: 0 60px;
}

.nav {
  padding: 0 60px;
}

.nav a {
  font-size: 15px;
  padding: 0 10px;
  color: #d8d8d8;
  transition: all 1s;
}

.nav a:hover {
  border-bottom: inset 3px solid #4f74c1;
  color: #4f74c1;
  font-size: 15px;
  transition: all 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.form-grand-parent  {
  display:table;
  height:100%;
  margin: 0 auto;
}

.form-parent {
  display:table-cell;
  vertical-align:middle;
}

.devise-form {
  text-align: center;
  width: 300px;
  border: 1.5px solid #00800078;
  background: white;
  box-shadow: 4px 4px 8px #315f3187;
  border-radius: 8px;
}

.form-header {
  border-bottom: 1.5px solid green;
}

.field {
  margin: 16px auto;
  width: 200px;
  border: 1px solid green;
  border-radius: 4px;
  input {
    border: none;
  } input:focus {
    outline: none;
    box-shadow: none;
  } .fa {
    color:green;
  }
}

.focused {
  border-color: rgba(79, 125, 70, 0.47);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(79, 125, 70);
  outline: 0 none;
  background-color: #00000000;
}
