/* NavBar Styles */

.navbar {
  position: absolute;
  z-index: 10;
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  padding: 8px 0 16px 0;
  animation: fadein 3s 0s 2s linear;
  .logo {
    padding: 0 32px;
    color: #d8d8d8;
    margin: 0;
  }
  span {
    position: absolute;
    top: 40px;
    left: 70px;
    font-size: 0.8rem;
    color: #c5c5c5b5;
  }
  .nav {
    padding: 0 32px;
    color: #d8d8d8;
    margin: 0;
    a {
      font-size: 15px;
      padding: 0 10px;
      color: #d8d8d8;
      transition: all 1s;
    }
    a:hover {
      border-bottom: inset 3px solid #4f74c1;
      color: #4f74c1;
      font-size: 15px;
      transition: all 1s;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}



