<div class="reports-parent">
  <div class="reports-container">
    <div class="header">
      <h1>Welcome</h1>
    </div>
    <div class="content">
      <p>
        Welcome to Tronc System.com! This application will help you to manage your tronc system. <br>The system assumes that you will pay tips to staff on a weekly basis and pay HMRC on a monthly basis (contact support for a special setup if this is not the case)
      </p>
      <hr>
      <% if current_user.employees.length == 0 %>
        <p>
          Lets start by adding your employees to the system..
        </p>
        <%= link_to "Employees Area", employees_path, class: 'btn btn-primary btn-lg' %>
      <% else %>
        <p>
          Now that you've added your employees, you need to create your first Tronc Report. This could be for this month, or you can go back to the beginning of the tax year and enter in all your previous weekly records!
        </p>
        <%= link_to "Create Report", new_report_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'} %>
        <div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
