<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tronc Report for <%= @report.report_start.strftime("%B %Y") %></title>
    <style>
      section.header {
        border-bottom: 1.5px solid #00000021;
        background: #6363636b;
      }
      h1 {
        font-size: 2.5rem;
        color: #ecececde;
        padding: 8px 0;
        font-family: sans-serif;
        text-align: center;
      }
      h2 {
        text-align: center;
        font-size: 1.5rem;
      }
      td, th {
        border: 1px solid black;
        text-align: center;
        width: 150px;
        background: white;
      }

      ul {
        list-style: none;
      }

      th {
        color: #0a3308bd;
        text-transform: uppercase;
        font-weight: 800;
        padding: 4px 0;
      }

      section.content p {
        padding: 12px 64px;
        margin: 8px auto;
      }

      section.content table {
        margin: 8px auto 16px auto;
      }
    </style>
</head>
<body>
    <%= yield %>
</body>
</html>
