<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PDF Report for <%= Date::MONTHNAMES[@report.month] %> <%= @report.year %></title>
      <%= wicked_pdf_stylesheet_link_tag "reports" %>
</head>
<body>
    <%= yield %>
</body>
</html>
