<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tronc Report for <%= @report.report_start.strftime("%B %Y") %></title>
      <%= wicked_pdf_stylesheet_link_tag "reports" %>
</head>
<body>
    <%= yield %>
</body>
</html>
