<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tronc Report for <%= @report.report_start.strftime("%B %Y") %></title>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
</head>
<body>
    <%= yield %>
</body>
</html>
